.modalWrapper {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--foggy);
  height: 100vh;
  z-index: 2000;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.modalProductCard {
  max-width: 350px;
  padding: 20px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0px 0px 22px 12px rgba(34, 60, 80, 0.2);
}

.modalProductControl {
  width: 100%;
  text-align: right;
  margin-bottom: 5px;
}

.modalProductTitle {
  margin-bottom: 15px;
}

.modalImgWrapper {
  max-width: 310px;
  height: 219px;
  margin-bottom: 15px;
}

.modalImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modalProductPrice {
  font-weight: bold;
  margin-bottom: 15px;
}

.modalProductDescription {
  margin-bottom: 12px;
  line-height: 17px;
}

.modalProductCount {
  font-weight: bold;
  margin-bottom: 15px;
}

.modalProductLink {
  font-weight: bold;
  text-decoration-line: underline;
}

.hideModal {
  display: none;
}
