.mobile_table_cell {
  width: 20%;
  vertical-align: middle;
  padding: 16px 0;
  text-align: center;
  font-weight: bold;
}

.mobile_table_row_title {
  background-color: var(--lilac);
}

.mobile_table_row {
  border-bottom: 1px solid var(--light-gray);
}
