/* Fonts */

@font-face {
  font-family: 'OpenSansLight';
  src: url('../all-fonts/OpenSansLight/OpenSansLight.eot');
  src: url('../all-fonts/OpenSansLight/OpenSansLight.eot') format('embedded-opentype'),
       url('../all-fonts/OpenSansLight/OpenSansLight.woff2') format('woff2'),
       url('../all-fonts/OpenSansLight/OpenSansLight.woff') format('woff'),
       url('../all-fonts/OpenSansLight/OpenSansLight.ttf') format('truetype'),
       url('../all-fonts/OpenSansLight/OpenSansLight.svg#OpenSansLight') format('svg');
}


/* Colors */
:root {
  --white: #FFFFFF;
  --gray: #9E9E9E;
  --lilac: #F7F6FE;
  --green: #1F9254;
  --light-green: #ebf9f1;
  --orange: #CD6200;
  --light-orange: #fef2e5;
}


/* Global-css */
body {
  font-family: "OpenSansLight";
  font-size: 18px;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 0 20px;
}

h1 {
  font-family: "PT-Serif_Italic";
  font-weight: bold;
  font-size: 35px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}

button {
  cursor: pointer;
}