td {
  width: 20%;
  vertical-align: middle;
  padding: 16px 0;
}

.cardProduct {
  display: none;
}

/* Media queries */

/* ========max-width: 800px ======== */
@media only screen and (max-width: 800px) {
  .cardProduct {
    display: block;
    font-weight: bold;
  }

  .cardProduct tr:first-child {
    background-color: var(--lilac);
  }
  .cardProduct tr:nth-child(n+2) {
    border-bottom: 1px solid var(--light-gray);
  }
  
  
}
